@import "variables";

.header{
    //background: #dc9a53;

    .logo{
        display: inline-block;
        img{
            //padding-left: 25px;
            width: 200px;

        }
    }

    .nav-item{
        .nav-link{
            //font-weight: 600;
            font-size: 1.2em;
        }
    }

    .search{
        //display: inline-block;
        float: right;
        //margin-right: 30px;
        //width: 33%;

        input{
            width: 75%;
            display: inline-block;
        }
        button{
            width: 20%;
        }
    }

    .social-link{
        font-size: 1.5em;
        text-decoration: none;
        color: $primary-color;
        padding: 5px 10px;

        &:hover{
            color: $secondary-color;
        }
    }
}